 <div id="main-right">
			<div id="right-title"><span>hehehhe</span></div>
			
			<div id="right-content">
			<form action="__PROJECT_URL__/Home/PostTopic/add/cid/<!--{$cid}-->" method="post">
				<span>标题</span> <input type="text" name="title" id="title"/></br>
				<!-- 加载编辑器的容器 -->
				<script id="container" name="content" type="text/plain">
					这里写你的初始化内容
				</script>
				<input type="submit" id="submit" value="发表"/>
			</form>
			<!-- 配置文件 -->
			<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
			<!-- 编辑器源码文件 -->
			<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
			<!-- 实例化编辑器 -->
			<script type="text/javascript">
				var editor = UE.getEditor('container',{
					toolbars: [
    ['fullscreen', 'source', 'undo', 'redo'],
    ['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
						]
				});
			</script>
			
				
			</div>
		
 </div>
		 	