<div id="main-left">
			<div id="left-title"><span>hahahh</span></div>
			
			<ul>
				<li><a href="#">caonimasss</a></li>
				<li><a href="#">caonimasss</a></li>
				<li><a href="#">caonimass</a></li>
				<li><a href="#">caonimass</a></li>
			</ul>
		 </div>
		 <div id="main-right">
			<div id="right-title"><span>hehehhe</span></div>
			
			<div id="right-content">
				<ul>
				<volist name="son_list" id="vo">
					<li class="topic">
						<div class="pic"><a href="#"><img src="__PUBLIC__/images/1.jpg" width="70px" height="70px"></a></div>
						<div class="up"><a href="#"><span><!--{$vo.name}--></span></a></div>
						<div class="down">共有1个话题</div>
					</li>
				</volist>
				</ul>
				<!--{$page} -->
			
				
			</div>
		 </div>
		 